.class-home-container
{
    width: 100%;
    max-height: 200px;
    background-color: rgb(255, 255, 255);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    margin-top: 5rem;
}

.class-home-title
{
    color: rgb(0, 0, 0);
    text-align: center;
    max-width: 800px;
}

.class-home-title h1
{
    font-size: 40px;
    margin-bottom: 30px;
}

.class-home-title p
{
    max-width: 800px;
    line-height: 1.5;
}